body {
	background-color: #ffffff;
}

a{
	text-decoration: none;
}

.main-contents {
	margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 70px;
	width: 900px;
	height: 100%;
	color: #5d627b;
	background: #ffffff;
}

.error-area {
	margin: auto;
	width: 700px;
	height: 100px;
	color: red;
}

.error-area ul{
	list-style: none;
	margin: auto;
	width: 700px;
	height: 100px;
}

.login {
    padding: 10px 20px;
    margin: auto;
    height: 90%;
    width: 700px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.login-form{
	margin: 50px 0 50px 258px;
	width: 174px;
}

.container{
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	font-size: 19px;
	background-color: #31a9ee;
}

.header-left a{
	float: left;
	display: block;
	height: 60px;
	padding: 15px 20px;
	color: white;
}

.header-right a{
	float: right;
	display: block;
	height: 60px;
	padding: 15px 20px;
	color: white;
}

.header-right span{
	float: right;
	margin: 15px 20px;
	position: relative;
	padding-left: 25px;
	color: white;
}

.header-right span:before{
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px #ffffff;

}

.header-right span:after{

	position: absolute;
	content: '';
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px #ffffff;
}


.message-list {
    padding: 10px 20px;
    margin: auto;
    height: 90%;
    width: 800px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.message {
    margin: 10px 0 20px 0;
    padding: 10px 20px;
    color: #5d627b;
    background: white;
    border-style: dashed;
    border-width: 1px;
}

.comment {
	margin-bottom: 10px;
	margin-left: 200px;
    padding: 10px 20px 10px 30px;
    color: #5d627b;
    background: white;
    border-style: dashed;
    border-width: 1px;
}

.comment-form-area{
    padding: 10px 0 10px 200px;
    color: #5d627b;
    background: white;
}

.category li{
	display: inline-block;
	margin: 20px;
	height: 10%;
}

.retrieval{
	clear: both;
	margin: auto;
	pading-bottom: 10px;
	width: 700px;
	height: 100px;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.manage-table{
	padding: 40px 15px 40px 15px;
    margin: auto;
    height: 100%;
    width: 900px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

table{
	margin: 20px 45px;
	width: 90%;
	background-color: white;
	border-collapse: collapse;
	border-style: outset;
	color: black;
}

table th{
	padding: 12px;
	background:#6666ff57;
}

table td{
	padding: 10px 12px;
	font-size: 14px;
	color: #000000;
}

table tr:nth-child(2n+1) {
  background    : #eaedf7;
}

.stop-button{

	display       : inline-block;
	border-radius : 5%;
	font-size     : 9pt;
	text-align    : center;
	cursor        : pointer;
	padding       : 6px 7px;
	background    : #ffffff;
	color         : #ff0000;
	line-height   : 1em;
	transition    : .3s;
	border        : 1px solid #ff0000;
}

.stop-button:hover{
	box-shadow: none;
	color: #ff0000;
	background: #ffdbdb;
}

.revival-button{

	display       : inline-block;
	border-radius : 5%;
	font-size     : 9pt;
	text-align    : center;
	cursor        : pointer;
	padding       : 6px 7px;
	background    : #ffffff;
	color         : #0000a0;
	line-height   : 1em;
	transition    : .3s;
	border        : 1px solid #0000a0;
}

.revival-button:hover{
	box-shadow: none;
	color: #0000a0;
	background: #dbdbff;
}


.settings-button{
		display       : inline-block;
	border-radius : 5%;
	font-size     : 9pt;
	text-align    : center;
	cursor        : pointer;
	padding       : 6px 7px;
	background    : #ffffff;
	color         : #000000;
	line-height   : 1em;
	transition    : .3s;
	border        : 1px solid #000000;

}

.settings-button:hover{
	box-shadow: none;
	color: #000000;
	background: #ededed;
}


.new-messages{
	margin: auto;
	padding: 30px 40px 50px 40px;
    height: 90%;
    width: 700px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}

.new-messages-form{
	width: 370px;
	margin-left: 130px;
}

.comment-form{
	width: 580px;
	height: 90px;
	margin: 0 0 10px 0;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 8px;
	font-size: 15px;
	color: #333333;
	line-height: 19px;
}

.comment-form:focus,
texture:focus{
	box-shadow: 0 0 7px #3498db;
	border: 1px solid #3498db;
}

.signup{
    padding: 10px 20px 50px 20px;
    margin: auto;
    height: 90%;
    width: 700px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.signup-form-area{
	width: 370px;
	margin: 0 0 0 220px;
}

.signup-form{
	box-sizing: border-box;
	margin: 0 0 15px 0;
	vertical-align: top;

	width: 100%;
	max-width: 200px;
	height: 25px;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 13px;
	color: #333333;
	letter-spacing: .1em;
}

.signup-form-area select{
	box-sizing: border-box;
	margin: 0 0 15px 0;
	vertical-align: top;

	width: 100%;
	max-width: 150px;
	height: 25px;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 13px;
	color: #333333;
	letter-spacing: .1em;
}

.settings{
    padding: 10px 20px;
    margin: auto;
    height: 90%;
    width: 700px;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.settings-form-area{
	width: 370px;
	margin: 20px 0 30px 220px;
}

.settings-form{
	box-sizing: border-box;
	margin: 0 0 15px 0;
	vertical-align: top;

	width: 100%;
	max-width: 200px;
	height: 25px;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 13px;
	color: #333333;

}

.settings-form-area select{
	box-sizing: border-box;
	margin: 0 0 15px 0;
	vertical-align: top;

	width: 100%;
	max-width: 150px;
	height: 25px;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 13px;
	color: #333333;
	letter-spacing: .1em;
}

input[type="text"]:focus,
texture:focus{
	box-shadow: 0 0 7px #3498db;
	border: 1px solid #3498db;
}

.subject{
	box-sizing: border-box;
	margin: 0;
	vertical-align: top;

	width: 100%;
	max-width: 300px;
	height: 30px;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	color: #333333;

}


.text{
	width: 450px;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 8px;
	font-size: 15px;
	color: #333333;

	line-height: 19px;
}

.text:focus,
texture:focus{
	box-shadow: 0 0 7px #3498db;
	border: 1px solid #3498db;
}

.message-category{
	box-sizing: border-box;
	margin: 0;
	vertical-align: top;

	width: 100%;
	max-width: 200px;
	height: 30px;
	background: #ffffff;
	border: 1px solid #5d627b;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	color: #333333;

}

.button{
	display: inline-brock;
	border-radius: 11%;
	font-size: 11pt;
	text-align: center;
	cursor: pointer;
	padding: 5px 8px;
	background: #6666ff;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #6666ff;
}

.button:hover{
	box-shadow: none;
	color: #6666ff;
	background: #ffffff;
}

.retrieval-button{
	display: inline-brock;
	border-radius: 11%;
	font-size: 11pt;
	text-align: center;
	cursor: pointer;
	padding: 8px 8px;
	background: #6666ff;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #6666ff;
}

.retrieval-button:hover{
	box-shadow: none;
	color: #6666ff;
	background: #ffffff;
}

.delete-button{
	margin: 10px 0 20px 30px;
	display: inline-brock;
	border-radius: 11%;
	font-size: 11pt;
	text-align: center;
	cursor: pointer;
	padding: 5px 8px;
	background: #a1a5b5;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #a1a5b5;
}

.delete-comment-button{
	margin: 5px 0 5px 450px;
	display: inline-brock;
	border-radius: 11%;
	font-size: 11pt;
	text-align: center;
	cursor: pointer;
	padding: 5px 8px;
	background: #a1a5b5;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #a1a5b5;
}

.delete-button:hover{
	box-shadow: none;
	color: #666666;
	background: #ffffff;
}

.comment-button{
	display: inline-brock;
	margin: 10px 0 0 490px;
	border-radius: 11%;
	font-size: 11pt;
	text-align: center;
	cursor: pointer;
	padding: 8px 8px;
	background: #6666ff;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 4px 4px 3px #666666;
	border: 2px solid #6666ff;
}

.comment-button:hover{
	box-shadow: none;
	color: #6666ff;
	background: #ffffff;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

#message-subject{
	border-bottom: double 5px #c0c0c0;
	font-size: 20px;

}

.message-text{
	width:690px;
	white-space: pre-wrap;
	word-wrap:break-word;
	font-size: 15px;
	line-height: 1.2em;
    margin: 40px 0 40px 30px;
}

#message-category{
	font-size: 13px;

	margin-left: 30px;

}

#message-name{
	font-size: 13px;
	margin-left: 30px;
}

#message-date{
	font-size: 13px;
	margin-left: 30px;
}

.comment-text{
	width:460px;
	white-space: pre-wrap;
	word-wrap:break-word;
	font-size: 15px;
	line-height: 1.2em;
}


#comment-name{
	font-size: 13px;
	text-align: right;

}

#comment-date{
	font-size: 13px;
	text-align: right;

}

.copyright {
	width: 205px;
	margin: 10px auto;
	padding: 5px;
}

label {
	display: block;
}

#note{
	font-size: 13px;
}


.errorMessages {
	margin: auto;
	width: 700px;
	color: red;
}

.errorMessages ul{
	list-style: none;
}
